<header>
    <div class="pre-header">
        <div class="tag-line">
            Ensuring Quality
        </div>
        <div class="m-number">
            <a href="tel:919429648978"> <i class="fa fa-phone" aria-hidden="true"></i> +91 - 9429648978</a>
        </div>
        <div class="e-mail-id">
            <a href="mailto:info@Finex.co.in"> <i class="fa fa-envelope" aria-hidden="true"></i> info@Finex.co.in</a>
        </div>
        <div class="social-follow">
            <label>Follow us on</label>
            <span>
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
            <span><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
            <span><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        </div>
    </div>
    <div id='main-menu' class='main-menu'>
        <div class="logo">
            <img src="../../../assets/img/logo-sm.jpg" />
            <label>Finex Accounting</label>
        </div>
        <nav class='navigation'>
            <div class='hamburger-menu'>
                <span class='burger-1'></span>
                <span class='burger-2'></span>
                <span class='burger-3'></span>
            </div>
            <ul class='core-menu'>
                <li><a href="javascript:void(0)" [routerLink]="['']">Home</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/services']">Services<span class='toggle'></span></a>
                    <ul class='dropdown'>
                        <li><a href="javascript:void(0)" [routerLink]="['/services/service']">Book-Keeping</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/services/service']">Value added Tax (VAT)</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/services/service']">Management Accounts</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/services/service']">Year End accounts & CT returns</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/services/service']">Self-Assessment Tax Returns</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)" [routerLink]="['/speciality']">Specialties<span class='toggle'></span></a>
                    <ul class='dropdown'>
                        <li><a href="javascript:void(0)" [routerLink]="['/speciality/sub-speciality']">Solicitor Accounting</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/speciality/sub-speciality']">Music industry Accounting</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/speciality/sub-speciality']">Contractor Accounting</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/speciality/sub-speciality']">Restaurant Accounting</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/speciality/sub-speciality']">Pub Accounting</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)">About Us<span class='toggle'></span></a>
                    <ul class='dropdown'>
                        <li><a href="javascript:void(0)" [routerLink]="['/aboutus/aboutus']">Who We Are</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/aboutus/data-security']">Data security</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/aboutus/pricing']">Pricing</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)" [routerLink]="['/contact']">Conact Us</a></li>
            </ul>
        </nav>

    </div>
</header>
<a href="javascript:void(0)" id="return-to-top" class="return-to-top">
    <i class="fa fa-4x fa-angle-up"></i>
</a>