<header>
    <div class="pre-header">
        <div class="tag-line">
            Finex Accounting Services
        </div>
        <div class="m-number">
            <a href="tel:+4401133280365"> <i class="fa fa-phone" aria-hidden="true"></i> +44 0113 328 0365</a>
        </div>
        <div class="e-mail-id">
            <a href="mailto:Info@Finexaccounting.co.uk"> <i class="fa fa-envelope" aria-hidden="true"></i> Info@Finexaccounting.co.uk</a>
        </div>
        <div class="social-follow">
            <label>Follow us on</label>
            <!-- <span><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></span> -->
            <span><a href="https://twitter.com/AccountingFinex?s=08"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
            <span><a href="https://www.linkedin.com/company/finex-accounting"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        </div>
    </div>
    <div id='main-menu' class='main-menu'>
        <div class="logo">
            <a [routerLink]="['']">
                <img src="../../../assets/img/logo-h.png" />
                <!-- <label>Finex Accounting</label> -->
            </a>
        </div>
        <nav class='navigation'>
            <div class='hamburger-menu'>
                <span class='burger-1'></span>
                <span class='burger-2'></span>
                <span class='burger-3'></span>
            </div>
            <ul class='core-menu'>
                <li><a [routerLink]="['']">Home</a></li>
                <li><a>Services<span class='toggle'></span></a>
                    <ul class='dropdown'>
                        <li><a [routerLink]="['/services/book-keping']">Book-Keeping</a></li>
                        <li><a [routerLink]="['/services/VAT']">Value added Tax (VAT)</a></li>
                        <li><a [routerLink]="['/services/management-account']">Management Accounts</a></li>
                        <li><a [routerLink]="['/services/year-end-accounts&CT-returns']">Year End accounts & CT returns</a></li>
                        <li><a [routerLink]="['/services/seld-assesment-tax-returns']">Self-Assessment Tax Returns</a></li>
                    </ul>
                </li>
                <li><a [routerLink]="['/speciality']">Specialties<span class='toggle'></span></a>
                    <ul class='dropdown'>
                        <li><a [routerLink]="['/speciality/sub-speciality']">Solicitor Accounting</a></li>
                        <li><a [routerLink]="['/speciality/sub-speciality']">Music industry Accounting</a></li>
                        <li><a [routerLink]="['/speciality/sub-speciality']">Contractor Accounting</a></li>
                        <li><a [routerLink]="['/speciality/sub-speciality']">Restaurant Accounting</a></li>
                        <li><a [routerLink]="['/speciality/sub-speciality']">Pub Accounting</a></li>
                    </ul>
                </li>
                <li><a>About Us<span class='toggle'></span></a>
                    <ul class='dropdown'>
                        <li><a [routerLink]="['/aboutus/aboutus']">Who We Are</a></li>
                        <li><a [routerLink]="['/aboutus/data-security']">Data security</a></li>
                        <li><a [routerLink]="['/aboutus/pricing']">Pricing</a></li>
                    </ul>
                </li>
                <li><a [routerLink]="['/contact']">Conact Us</a></li>
            </ul>
        </nav>

    </div>
</header>
<a id="return-to-top" class="return-to-top">
    <i class="fa fa-4x fa-angle-up"></i>
</a>
