<main>
    <section>
        <div class="contact-banner">
            <div class="container">
                <div class="banner-content">
                    <h1>Value added Tax (VAT)</h1>
                    <p>Delivering Outsourced Accounting and Bookkeeping Services for Accountants</p>
                    <ul>
                        <li>
                            <a href="">Services</a>
                        </li>
                        <li>
                            Value added Tax (VAT)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="service-content pd-90">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="s-header">
                            <h1>What <label>We Do</label></h1>
                            <div class="line">
                                <span class="l-span"></span>
                                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                <span class="r-span"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="s-content">
                            <img src="../../../../assets/img/VAT.JPG" class="s-img" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="s-content">
                            <h3>Grow your Value added Tax (VAT) practice with <span>Fenix</span></h3>
                            <p>We are here to handle all of the VAT returns for your or your clients and we assure the quality and correct calculation of VAT return as per HMRC standard rules. Finex can help you in </p>
                            <ul>
                                <li>Quarterly book-keeping for VAT purpose</li>
                                <li>Preparation of VAT</li>
                                <li>Providing you the reason behind the variation on VAT payable or refundable</li>
                                <li>Filing VAT return on timely basis</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-Subscription-box></app-Subscription-box>
    <app-service-list></app-service-list>

</main>
