<main>
    <section>
        <div class="contact-banner">
            <div class="container">
                <div class="banner-content">
                    <h1>Contact Us</h1>
                    <p>Please leave a message and we'll get back to you in max 48 working hours</p>
                </div>
            </div>
        </div>
        <div class="contact-content pd-90">
            <div class="container">
                <div class="row d-flex align-items-start justify-content-between">
                    <div class="col-md-5">
                        <div class="contact-form">
                            <form class="form-box" [formGroup]="contactUsForm">
                                <div class="s-header">
                                    <h3>Get in Touch</h3>
                                    <div class="line">
                                        <span class="l-span"></span>
                                        <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                        <span class="r-span"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Name" id="name" formControlName="name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter email" id="email" formControlName="email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Contact Number" id="cn" formControlName="contactNumber">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Organization Name" id="o-name" formControlName="organizationName">
                                </div>
                                <div class="form-group">
                                    <textarea type="text" rows="4" class="form-control" placeholder="Enter Message" id="msg" formControlName="inquiryMessage"></textarea>
                                </div>
                                <button type="button" class="btn btn-sm animated-button center-btn" [disabled]="contactUsForm.invalid" (click)="submitContactUs()">Submit</button>

                            </form>

                            <div *ngIf="errorMessage!=null" class="alert alert-danger">
                                {{ errorMessage }}
                            </div>
                            <div *ngIf="infoMessage!=null" class="alert alert-primary">
                                {{ infoMessage }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="or-part">
                            <h2>OR</h2>
                            <div class="s-header">
                                <div class="line">
                                    <span class="l-span"></span>
                                    <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                    <span class="r-span"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="contact-form call-req">
                            <form class="form-box" [formGroup]="requestACallBackForm">
                                <div class="s-header">
                                    <h3>Request a Call Back</h3>

                                    <div class="line">
                                        <span class="l-span"></span>
                                        <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                        <span class="r-span"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Name" id="name" formControlName="name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Contact Number" id="cn" formControlName="contactNumber">
                                </div>
                                <div class="form-group">
                                    <span class="s-down-arrow">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                    <select class="form-control" formControlName="serviceType">
                                      <option value="" disabled selected hidden>--Select Service--</option>
                                      <option value="Year end account and CT returns">Year end account and CT returns</option>
                                      <option value="Book-keeping & VAT return">Book-keeping & VAT return</option>
                                      <option value="Self-assessment return">Self-assessment return</option>
                                      <option value="Company secretarial">Company secretarial</option>
                                      <option value="Management accounts">Management accounts</option>
                                      <option value="Payroll services">Payroll services</option>
                                    </select>
                                </div>

                                <button type="button" class="btn btn-sm animated-button center-btn" [disabled]="requestACallBackForm.invalid" (click)="submitRequestACallback()">Submit</button>
                            </form>

                            <div *ngIf="requestACallBackErrorMessage!=null" class="alert alert-danger">
                                {{ requestACallBackErrorMessage }}
                            </div>
                            <div *ngIf="requestACallBackInfoMessage!=null" class="alert alert-primary">
                                {{ requestACallBackInfoMessage }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.9297361564045!2d72.54011131428463!3d23.136243417877424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e82bd7cee11cb%3A0x234d85424f9e1cc7!2sCore%20HR%20Solutions!5e0!3m2!1sen!2sin!4v1596723826991!5m2!1sen!2sin"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section> -->
</main>