<section>
    <div class="free-trial-section pd-90">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ft-box">
                        <form class="form-box">
                            <div class="s-header">
                                <h3>Start a <span>Free Trial</span></h3>
                                <div class="line">
                                    <span class="l-span"></span>
                                    <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                    <span class="r-span"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control w-half" placeholder="Full Name" id="name">
                                <input type="email" class="form-control w-half" placeholder="Business Email" id="email">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Mobile Number" id="cn">
                            </div>
                            <div class="form-group">
                                <textarea type="text" rows="4" class="form-control" placeholder="Message" id="msg"></textarea>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">I give the concent to Finex to send emails.</label>
                            </div>
                            <p>We will never spam you or share your data with anyone. You can unsubscribe at any time as outlined in our <a href="">Privacy Notice</a>.</p>
                            <button type="button" class="btn btn-sm animated-button center-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>