@import '../../assets/variables.scss';
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Rubik:wght@300;400;500;700&display=swap');
.free-trial-section {
    background: url(../../assets/img/Home.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }
    .ft-box {
        width: 700px;
        max-width: 90%;
        margin: 0px auto;
        background: white;
        padding: 40px;
        @media (max-width: $mobile) {
            padding: 20px;
        }
        .s-header {
            h3 {
                color: $Secondary-color;
                span {
                    color: $Primary-color;
                }
            }
            .line {
                @media (max-width: $mobile) {
                    margin-bottom: 20px;
                }
                span {
                    background-color: $Secondary-color;
                }
            }
        }
        .form-box {
            .form-group {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                @media (max-width: $mobile) {
                    display: block;
                    margin-bottom: 0;
                }
            }
            input,
            textarea {
                border-color: $Primary-color;
                box-shadow: none;
                background-color: transparent;
                color: $Secondary-color;
                width: 100%;
                border-radius: 0px;
                @media (max-width: $mobile) {
                    width: 100%;
                    margin-bottom: 10px;
                }
                &::placeholder {
                    color: $Secondary-color;
                }
                &.w-half {
                    width: 48%;
                    @media (max-width: $mobile) {
                        width: 100%;
                    }
                }
            }
            .custom-checkbox {
                input {
                    cursor: pointer;
                }
                label {
                    color: $Secondary-color;
                }
                .custom-control-input:checked~.custom-control-label::before {
                    border-color: $Primary-color;
                    background-color: $Primary-color;
                    box-shadow: none;
                }
                .custom-control-input:focus:not(:checked)~.custom-control-label::before {
                    border-color: $Primary-color;
                }
                .custom-control-input:focus~.custom-control-label::before {
                    box-shadow: none
                }
            }
            p {
                margin: 20px 0;
                color: $Secondary-color;
                a {
                    color: $Primary-color;
                }
            }
        }
    }
}

.s-header {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    h1 {
        color: $Secondary-color;
        display: table;
        margin: 0px auto 10px;
        position: relative;
        label {
            color: $Primary-color
        }
    }
    .line {
        position: relative;
        margin: 0px auto 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        span {
            width: 60px;
            height: 4px;
            display: block;
            border-radius: 3px;
            background-color: $Secondary-color;
            text-align: center;
        }
        i {
            color: $Primary-color;
            bottom: -18px;
            margin: 0px auto;
            text-align: center;
            font-size: 20px;
        }
    }
}

.animated-button {
    border: 2px solid $Primary-color;
    width: 150px;
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: $Primary-color;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    @media (max-width: $mobile) {
        padding: 10px;
    }
}

.animated-button:link:after,
.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

.animated-button:hover,
.animated-button:hover {
    color: white;
    background-color: $Primary-color;
    text-shadow: none;
}

.animated-button:hover:after,
.animated-button:hover:after {
    height: 450%;
}

.animated-button:after {
    background: $Primary-color;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}