<main>
    <section>
        <div class="contact-banner">
            <div class="container">
                <div class="banner-content">
                    <h1>Pricing</h1>
                    <p>Delivering Outsourced Accounting and Bookkeeping Services for Accountants</p>
                    <ul>
                        <li>
                            <a>About Us</a>
                        </li>
                        <li>
                            Pricing
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="onsite-section pd-90">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="s-header">
                            <h1>Flexible <label> Pricing Models</label></h1>
                            <div class="line">
                                <span class="l-span"></span>
                                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                <span class="r-span"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="s-box mb">
                            <div class="pm-img">
                                <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                            </div>
                            <div class="s-header sub-header">
                                <h1>Hourly <label>Services</label></h1>
                            </div>
                            <div class="s-content">
                                <p>In Hourly service you will get charged at very agreed price on Monthly basis after delivering the service. Benefits to go for hourly plan are No fixed agreement, you will be intimated by team before completion of Job, Cost
                                    saving while you have several tasks.</p>
                                <button type="button" class="btn btn-sm animated-button center-btn" [routerLink]="['/contact-us']">Contact Us</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="s-box mb">
                            <div class="pm-img">
                                <i class="fa fa-hourglass" aria-hidden="true"></i>
                            </div>
                            <div class="s-header sub-header">
                                <h1>Full time <label>Employee (FTE)</label></h1>
                            </div>
                            <div class="s-content">
                                <p>You can hire a Full-time employee who solely work only for your company. By hiring and FTE you will save 30% to 50% of your payroll costs and Office costs.</p>
                                <button type="button" class="btn btn-sm animated-button center-btn" [routerLink]="['/contact-us']">Contact Us</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="s-box">
                            <div class="pm-img">
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                            </div>
                            <div class="s-header sub-header">
                                <h1>Job as <label>a Service</label></h1>
                            </div>
                            <div class="s-content">
                                <p>This plan offers the fixed rate of charge per job that we deliver. Most of the cases this is applicable for Self-assessment tax return, Contractor accounts and Payroll services. </p>
                                <button type="button" class="btn btn-sm animated-button center-btn" [routerLink]="['/contact-us']">Contact Us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-Subscription-box></app-Subscription-box>

</main>
