<footer>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="sort-desc">
                        <div class="footer-logo">
                            <!-- <img src=""> -->
                            <div class="s-header animated zoomIn">
                                <h2>Fenix <span>Accounting</span></h2>
                                <div class="line">
                                    <span class="l-span"></span>
                                    <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                    <span class="r-span"></span>
                                </div>
                            </div>

                        </div>
                        <p class="animated fadeInUp">XL KPO is an outsourcing accountancy service provider based in Ahmedabad, India. We work as a part of your team and function as per your practices, specifications and requirements.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address">
                        <div class="s-header animated zoomIn">
                            <h2>Contact <span>Us</span></h2>
                            <div class="line">
                                <span class="l-span"></span>
                                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                <span class="r-span"></span>
                            </div>
                        </div>
                        <p class="animated fadeInUp">110 Emerald Building, Choice Restaurant Lane, Above Karnavati Pagarkha Bazaar, CG Road, Ahmedbad 380009</p>
                        <a class="animated fadeInUp" href="+919429648978"><i class="fa fa-phone" aria-hidden="true"></i> +91 - 9429648978</a>
                        <a class="animated fadeInUp" href="mailto:info@Finex.co.in"> <i class="fa fa-envelope" aria-hidden="true"></i> info@Finex.co.in</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social-contact">
                        <div class="s-header animated zoomIn">
                            <h2>Follow <span>Us</span></h2>
                            <div class="line">
                                <span class="l-span"></span>
                                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                <span class="r-span"></span>
                            </div>
                        </div>
                        <ul>
                            <li class="animated zoomIn">
                                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="animated zoomIn">
                                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="animated zoomIn">
                                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <p> &copy; Copyright 2020 Fenix, All Rights Reserved.</p>
    </div>
</footer>