// Red Color Theme
// $Primary-color: #db2531;
// $Secondary-color: #292929;
//Logo Color Theme
// $Primary-color: #5e949e;
// $Secondary-color: #1b3434;
//Purple Color Theme
// $Primary-color: #9615db;
// $Secondary-color: #1b3434;
//light blue Color Theme
$Primary-color: #76C6C5;
$Secondary-color: #1b3434;
$tablet: 991px;
$mobile: 767px;
$ipod: 575px;