/* You can add global styles to this file, and also import other style files */

@import './assets/variables.scss';
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Rubik:wght@300;400;500;700&display=swap');
label {
    margin-bottom: 0;
}

.pd-90 {
    padding: 90px 0;
    @media (max-width: $tablet) {
        padding: 60px 0;
    }
    @media (max-width: $ipod) {
        padding: 40px 0;
    }
}

::ng-deep .fixed-body {
    position: fixed;
    overflow: hidden;
}

a.animated-button {
    border: 2px solid $Primary-color;
    width: 150px;
    position: relative;
    display: block;
    margin: 30px 0 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    @media (max-width: $mobile) {
        padding: 10px;
    }
}

a.animated-button:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:hover {
    color: #FFF;
    text-shadow: none;
}

a.animated-button:hover:after {
    height: 450%;
}

a.animated-button:after {
    background: $Primary-color;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}