<main>
    <section>
        <div class="contact-banner">
            <div class="container">
                <div class="banner-content">
                    <h1>Data security</h1>
                    <p>Delivering Outsourced Accounting and Bookkeeping Services for Accountants</p>
                    <ul>
                        <li>
                            <a>About Us</a>
                        </li>
                        <li>
                            Data security
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="service-content pd-90">
            <div class="container">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="s-content">
                            <h3>Finex a <span>Trusted partner</span></h3>
                            <p>We understand your concern and worry about trusting an outside organization with your client’s data. At Finex we keep data security of client’s information with the utmost safety.</p>
                            <p>For online security, we are already using Anti-virus, Secure logins, Firewall, Encryption, VPNs etc. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="onsite-section pd-90">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="s-header">
                            <h1>On-site <label>Security</label></h1>
                            <div class="line">
                                <span class="l-span"></span>
                                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                <span class="r-span"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="s-box">
                            <div class="s-header sub-header">
                                <h1>Tech<label>nology</label></h1>
                            </div>
                            <div class="s-content">
                                <ul>
                                    <li>An expert IT teams</li>
                                    <li>Controlled data transfer</li>
                                    <li>Timely system update and audit</li>
                                    <li>Daily backup of all the data</li>
                                    <li>Uploads and downloads are disabled outside permitted channels</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="s-box">
                            <div class="s-header sub-header">
                                <h1>Office and <label>Employees</label></h1>
                            </div>
                            <div class="s-content">
                                <ul>
                                    <li>Easily accessible websites are disabled so no one can take data outside the organization</li>
                                    <li>Removable drives on systems are prohibited and also disabled</li>
                                    <li>Mobiles, Laptops and other tech device are not allowed inside the office.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-Subscription-box></app-Subscription-box>


</main>
