<main>
    <section>
        <div class="contact-banner">
            <div class="container">
                <div class="banner-content">
                    <h1>Data security</h1>
                    <p>Delivering Outsourced Accounting and Bookkeeping Services for Accountants</p>
                    <ul>
                        <li>
                            <a href="">About Us</a>
                        </li>
                        <li>
                            Data security
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="service-content pd-90">
            <div class="container">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="s-content">
                            <h3>Finex a <span>Trusted partner</span></h3>
                            <p>We understand your concern and worry about trusting an outside organization with your client’s data. At Finex we keep data security of your and your client’s information with the upmost safety.</p>
                            <p>For online security, we are already using Anti-virus, Secure logins, Firewall, Encryption, VPNs etc. </p>
                            <!-- <ul>
                                <li>Quarterly book-keeping for VAT purpose</li>
                                <li>Preparation of VAT</li>
                                <li>Providing you the reason behind the variation on VAT payable or refundable</li>
                                <li>Filing VAT return on timely basis</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="onsite-section pd-90">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="s-header">
                            <h1>On-site <label>Security</label></h1>
                            <div class="line">
                                <span class="l-span"></span>
                                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                <span class="r-span"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="s-box">
                            <div class="s-header sub-header">
                                <h1>Tech<label>nology</label></h1>
                            </div>
                            <div class="s-content">
                                <ul>
                                    <li>You can get enough time to focus on services and sales which helps you to grow your business</li>
                                    <li>Increasing profitability minimum by 50%</li>
                                    <li>Taking care of all the client’s work and reminding you timely about the filling of the accounts and tax returns</li>
                                    <li>Reducing infrastructure and maintenance cost of yours</li>
                                    <li>Reducing your own office payroll cost</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="s-box">
                            <div class="s-header sub-header">
                                <h1>Office and <label>Employees</label></h1>
                            </div>
                            <div class="s-content">
                                <ul>
                                    <li>Easily accessible websites are disabled so no one can take data outside the organization</li>
                                    <li>Removable drives on systems are prohibited and also disabled</li>
                                    <li>Mobiles, Laptops and other tech device are not allowed inside the office.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-Subscription-box></app-Subscription-box>


</main>
