<section>
    <div class="service-list pd-90">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="s-header">
                        <h1>Our <label>Expertise</label></h1>
                        <div class="line">
                            <span class="l-span"></span>
                            <i class="fa fa-crosshairs" aria-hidden="true"></i>
                            <span class="r-span"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 ">
                    <div class="service-box">
                        <div class="s-icon">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <div class="s-details">
                            <h3>Book-Keeping</h3>
                            <p>We are here to handle your day to day, Weekly, Monthly or Yearly book-keeping to Accounting firms and SME’s with very affordable hourly rate so that you can make your business more profitable. </p>
                            <button type="button" class="btn btn-sm animated-button center-btn">See More</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 ">
                    <div class="service-box">
                        <div class="s-icon">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                        </div>
                        <div class="s-details">
                            <h3>Value added Tax (VAT)</h3>
                            <p>We are here to handle all of the VAT returns for your or your clients and we assure the quality and correct calculation of VAT return as per HMRC standard rules. Finex can help you. </p>
                            <button type="button" class="btn btn-sm animated-button center-btn">See More</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 ">
                    <div class="service-box">
                        <div class="s-icon">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                        </div>
                        <div class="s-details">
                            <h3>Management Accounts</h3>
                            <p>Management reports are the lynchpins for decision making processes. Reports need to be crisp, unambiguous, with a laser like focus on the business and customized as per specific operation and scale.
                            </p>
                            <button type="button" class="btn btn-sm animated-button center-btn">See More</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 ">
                    <div class="service-box">
                        <div class="s-icon">
                            <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                        </div>
                        <div class="s-details">
                            <h3>Year End accounts & CT returns</h3>
                            <p>Timely submission of year end accounts and CT returns is important to avoid punitive actions. </p>
                            <button type="button" class="btn btn-sm animated-button center-btn">See More</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 ">
                    <div class="service-box">
                        <div class="s-icon">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                        </div>
                        <div class="s-details">
                            <h3>Self-Assessment Tax Returns</h3>
                            <p>Finex offers to manage all your personal tax return with fix rate per tax return irrespective the income shown in tax return. </p>
                            <button type="button" class="btn btn-sm animated-button center-btn">See More</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 ">
                    <div class="service-box">
                        <div class="s-icon">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        </div>
                        <div class="s-details">
                            <h3>Company secretarial</h3>
                            <p>Finex will help you to meet all statutory requirements and Compliances. Our secretarial team will help you.</p>
                            <button type="button" class="btn btn-sm animated-button center-btn">See More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>