<app-header></app-header>
<main>
    <section>
        <div class="contact-banner">
            <div class="container">
                <div class="banner-content">
                    <h1>Services</h1>
                    <p>Delivering Outsourced Accounting and Bookkeeping Services for Accountants</p>
                </div>
            </div>
        </div>
    </section>

    <app-service-list></app-service-list>
    <app-Subscription-box></app-Subscription-box>
</main>


<app-footer></app-footer>